X.509 cert verification should do case-insensitive comparison of DNS names.

X.509 certificate validation will fail if the hostname being compared does not match the case of the DNS name in the certificate.

Per RFC 6125 (section 6.4), when verifying service identity, the matching of DNS domain names should be a case-insensitive operation.

In X509Certificate.cpp, method "bool X509Certificate::verify(const Poco::Crypto::X509Certificate& certificate, const std::string& hostName)" the dnsNames set declaration should be something like:

```
std::set<std::string, CILess> dnsNames;
```

This will cause the dnsNames.find() operation to return true for domain names that differ only in case.
