Support for chunked transfer encoding trailer

Allow reading and writing the optional chunked trailer (RFC 2616, section 3.6.1) if chunked transfer encoding is used.