HTTP cookie specification update

The current available [versions for the HTTP Cookie](https://docs.pocoproject.org/current/Poco.Net.HTTPCookie.html) are the original Netscape draft and [RFC2109](https://www.rfc-editor.org/rfc/rfc2109), both are obsoleted. The new specification [RFC2965](https://www.rfc-editor.org/rfc/rfc2965) is also obsoleted by [RFC6265](https://www.rfc-editor.org/rfc/rfc6265) which is the newest one.

I experience issues with the RFC2109 HTTP cookie in the Brave Browser while the Netscape HTTP cookie works. However, the new specification should be followed long-term.

@Spixmaster , what issue in particular do you have with Poco's handling of HTTP cookies?

Hello @matejk,

I have had this source code

```cpp
                        Poco::Net::HTTPCookie cookie = Poco::Net::HTTPCookie(
                          Poco::Net::HTTPCookie::escape(constant::http_cookie::session::name),
                          Poco::Net::HTTPCookie::escape(boost::uuids::to_string(uuid)));
                        cookie.setComment(Poco::Net::HTTPCookie::escape(message::http_cookie_comment::session));
                        cookie.setHttpOnly(true);
                        cookie.setMaxAge(constant::http_cookie::session::max_age);cookie.setPath("/");
cookie.setSameSite(Poco::Net::HTTPCookie::SameSite::SAME_SITE_STRICT);
cookie.setSecure(true);
cookie.setVersion(0);
```

I might have a look at it when I have some spare time which currently is not the case.

Before that I would like to clear a general question.

I think it would be best to have one HTTPCookie class which is programmed only for the newest standard. Having multiple versions in parallel causes headaches and increases maintenance needs.

Replace the old cookie with [RFC6265](https://www.rfc-editor.org/rfc/rfc6265).

#4982 